:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --primary-bg-gray: #2f303a;
  --white: #ffffff;
}
/* INDEX.HTML */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.page {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* еще вариант, который можете встретить
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} */

/* ---------------------- Header ------------------------*/
.page-header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
}
.logo {
  display: flex;

  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03rem;
  line-height: 1.2;
  text-decoration: none;

  margin-right: 73px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
  color: var(--white);
}
/* Site auth */
.nav-flex {
  display: flex;
}
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link,
.auth-nav .link {
  display: inline-block;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02rem;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* -----------------------------------Hero------------------------------- */
.hero {
  background-color: var(--primary-bg-gray);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}
.hero .title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 700px;

  color: var(--white);
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero .modal-btn {
  display: inline-block;
  width: 201px;
  height: 50px;
  padding: 10px 32px 10px 32px;
  border: none;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white);
  box-shadow:   0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
}
/*--------------------------------------Advantages---------------------------------- */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list .item {  
  display: flex;
  flex-direction: column;  
  flex-basis: calc((100% - 3 * 30px) / 4);
  }
.advantages-list .item:not(:nth-child(4n + 4)) {
  margin-right: 30px;
}
.advantages-list .title {
  margin-bottom: 10px;
}

.section .title {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}
.section .description {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03rem;
}
/* ------------------------------------------------Whatwedo -------------------------------------*/
.we-do-section {
  padding-bottom: 94px;
}
.section.title.main-title {
  display: flex;
  justify-content: center; 
  font-size: 36px;
  margin-bottom: 50px;
}
.whatwedo-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}
.wedo-item:not(:nth-child(3n-3)) {
  margin-right: 30px;
  margin-bottom: 30px;
}
/* -------------------------------------------Our team----------------------------------------------- */
.section-team {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team .title {
  color: var(--title-text-color);
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.member-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  
  padding-bottom: 30px;
  padding-top: 30px;  
}
.team-list .title-member {
  align-self: center;
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.member-card .description {
  align-self: center;
  font-size: 16px;
}
.team-list .list-item {
  flex-basis: calc((100% - 90px) / 4);  
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .list-item:not(:nth-child(4n-4)) {
  margin-right: 30px;
}
/* --------------------------------Footer -------------------------------------*/
.footer {
  background-color: var(--primary-bg-gray);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.logo-footer {  
  margin-right: auto;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03rem;
  line-height: 1.2;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03rem;
}
.footer-nav .item.item:not(:last-child) {  
 margin-bottom: 9px;
}
.footer-nav .adres {
  color: var(--white);
  text-decoration: none;
}
.adres:visited {
  text-decoration: none;
}
.footer-nav .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-nav .adres:hover,
.footer-nav .adres:focus,
.footer-nav .link:hover,
.footer-nav .link:focus {
  color: var(--accent-color);
}

/* >:G ?:O W:| PORTFOLIO.HTML <:=) j:-O i:K */

/* --------------------------------------------------- Portfolio filter --------------------------------------*/
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  width: auto;
  padding: 6px 22px 6px 22px; 
  border: none;
  border-radius: 4px;  

  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current-btn {
  color: var(--white);
  background-color: var(--accent-color);
 }
/* ----------------------------------------- Portfolio list -----------------------------------*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list .item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio-list .item a {
  text-decoration: none;
}
.portfolio-item-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-list .item .title {
  color: var(--title-text-color);
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06rem;
  margin-bottom: 4px;
}
.portfolio-list .item .description {
  color: var(--primary-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03rem;
}
